{% extends 'base.html' %}
{% block title %}Customer Info{% endblock %}
{% block content %}
<form action= "" method="post">
	<h2>Order</h2>
	<table style="width:50%">
		<thead>
		<tr>
			<th>Food</th>
			<th>Price</th>
			<th>Purchase Quantity</th>
		</tr>
		</thead>
		
		{% for food_dict in food_dict_list %}
		<tr>
			<td><input type = "checkbox" name = "{{ food_dict.food_name_input }}">
				<label>{{ food_dict.food_name }}</label></td>
			<td>{{ food_dict.food_price }}</td>
			<td><input type="text" name="{{ food_dict.purchase_quantity_input }}"></td>

			<!--
			<td name=food_space>{{ food_test }}</td>
			<td name=price_space>{{ price_test }}</td>
			<td name=quantity_space>{{ quantity_test }}</td>
			-->
		</tr>
		{% endfor %}
	</table>
	<input type=submit>
</form>
{% endblock %}
